#!/bin/bash
export ROCKETCHAT_URL=https://chat.
export ROCKETCHAT_USER=user
export ROCKETCHAT_PASSWORD='password'
export HUBOT_ADAPTER=rocketchat
export HUBOT_OWNER=
export HUBOT_NAME='rocketbot-mqtt'
export HUBOT_DESCRIPTION="MQTT Bridge Bot"
export ROCKETCHAT_ROOM=''
export RESPOND_TO_DM=true
export RESPOND_TO_LIVECHAT=true
export LISTEN_ON_ALL_PUBLIC=true
export ROCKETCHAT_AUTH=password
export HUBOT_LOG_LEVEL=debug
export HUBOT_MQTT_URL='mqtts://'
export HUBOT_MQTT_HOST=''
export HUBOT_MQTT_PORT='8883'
export HUBOT_MQTT_CLIENT_ID=''
export HUBOT_MQTT_USERNAME='user'
export HUBOT_MQTT_PASSWORD='password'
export HUBOT_MQTT_CA_CERT='certs/DST_Root_CA_X3.pem'
export HUBOT_MQTT_OUT_TOPIC=''
export HUBOT_MQTT_IN_TOPIC=''
export WELCOME_MESSAGE='Hey!'
export DIRECT_WELCOME=false
export GLOBAL_WELCOME=false
bin/hubot -a rocketchat
