{
        "apps": [{
                "name": "rocketbot-mqtt",
                "max_memory_restart": "512M",
                "log_date_format": "YYYY-MM-DD HH:mm:ss SSS",
                "script": "bin/hubot",
                "exec_interpreter": "bash",
                "args": "--name rocketcat --adapter rocketchat",
                "watch": ["package.json", "external-scripts.json", "scripts/"],
                "out_file": "logs/app.log",
                "error_file": "logs/err.log",
                "port": "8079",
                "env": {
                        "ROCKETCHAT_URL": "https://chat.",
                        "ROCKETCHAT_USER": "user",
                        "ROCKETCHAT_ROOM": "logs",
                        "ROCKETCHAT_PASSWORD": "yourpassword",
                        "ROCKETCHAT_AUTH":"password",
                        "PORT": "8079",
                        "LISTEN_ON_ALL_PUBLIC": "true",
                        "RESPOND_TO_DM": "true",
                        "RESPOND_TO_EDITED": "true",
                        "HUBOT_LOG_LEVEL": "debug",
                        "WELCOME_MESSAGE": "",
                        "DIRECT_WELCOME": "false",
                        "GLOBAL_WELCOME": "false",
                        "HUBOT_MQTT_URL": "mqtt://192.168.1.x",
                        "HUBOT_MQTT_HOST": "",
                        "HUBOT_MQTT_PORT": "1883",
                        "HUBOT_MQTT_CLIENT_ID": "",
                        "HUBOT_MQTT_USERNAME": "user",
                        "HUBOT_MQTT_PASSWORD": "password",
                        "HUBOT_MQTT_OUT_TOPIC": "logs",
                        "HUBOT_MQTT_IN_TOPIC": "logs",
                }
        }]
}

